<footer class="site-footer">
  <div id="footer-content"> 
  <p>
  <small>
    Сайт создан Васяном Про | Vasyan.Pro@mail.com
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас", '#' %></li>
      <li><%= link_to "Контакты", '#' %></li>
      
    </ul>
  </nav>
  </p>
  </div>
</footer>